body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: "Circularstd", "Avenir", "Lato-light", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

hr {
  color: #666;
}

.header {
  margin-top: 10vh;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: row;

  .link-container {
    margin-left: 24px;
    padding: 16px 0;
  }
}

.container {
  display: flex;
  flex-direction: row;
}

.cards-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 12vh;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 16px;
  padding: 25px;
  height: 36vh;
  width: 17vw;
  min-height: 320px;
  min-width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.02);
  transition: all 200ms;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 200ms;
  }

  .card-content {
    .title {
      margin-bottom: 16px;
      z-index: 2;
      font-weight: 600;
      font-size: 28px;
      line-height: 120%;
      letter-spacing: 0.02em;
      transform: translateZ(20px);
    }

    * {
      margin: 8px 0;
      font-weight: 400;
    }
  }

  .card-credits {
    margin-top: 12px;

    h3 {
      margin: 6px 0;
    }

    p {
      margin: 32px 0;
    }
  }
}

.btn {
  color: white;
  border-radius: 5px;
  text-decoration: none;
  vertical-align: middle;
  transition: all 100ms;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px rgba(0, 0, 0, 0.2) solid;
  margin: 16px 0;
  padding: 8px 16px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.9);
  }
}

a {
  color: #666;
  border-radius: 5px;
  text-decoration: none;
  vertical-align: middle;
  transition: all 100ms;

  &.with-border {
    background-color: white;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    padding: 8px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.08);
      transition: all 100ms;
    }

    &.success {
      background-color: rgb(233, 237, 255);
      color: black;

      &:hover {
        background-color: rgb(205, 213, 255);
      }
    }

    &.danger {
      background-color: rgb(255, 230, 230);
      color: black;

      &:hover {
        background-color: rgb(255, 199, 198);
      }
    }
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {

  &.field,
  &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

/* ---------
FORMS
----------*/

.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 30vw;
  padding: 24px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.02);
}

.input {
  margin: 16px 0;
}